.form__save-button {
  margin: 10px 36px 37px 36px; /*mar-top:48px*/
  padding: 0;
  width: 358px;
  height: 50px;
  border: none;
  background-color: #000;
  border-radius: 2px;
  cursor: pointer;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFF;
  transition: .1s linear;
}
.form__save-button:hover {
  background-color: #000;
  opacity: .8;
}

@media screen and (max-width: 590px) {
  .form__save-button {
    margin: 10px 22px 25px 22px; /*mar-top:45px*/
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
