.popup__close-button_type_confirm-delete {
  top: calc(50% - 158px);
  left: calc(50% + 208px);
}

@media screen and (max-width: 590px) {
  .popup__close-button_type_confirm-delete {
    top: calc(50% - 158px);
    left: calc(50% + 108px);
  }
}
