.form__input {
  margin-bottom: 13px; /*36px*/
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 13px;
  outline: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.form__input:last-of-type {
  margin-bottom: 0;
}
