.element__like-button {
    padding: 0;
    width: 28px;
    /*25-26px*/
    height: 24px;
    /*21-22px*/
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url(../../../images/Vector-like.svg);
    background-size: cover;
}

.element__like-button:hover {
    opacity: .5;
    cursor: pointer;
}
